
<p>
 <strong>MBTI:</strong>

  <%= @user.personality.mbti %>

 </p>

 <% @projects.each do |project| %>
 <%= project.title %> <br> <%=project.description %> <br> <%= project.participants %> <br>
  <% end %>


  <br>