<%
groups = {
  :founded_projects => "Founded projects",
  :joined_projects => "Joined projects"
  }
%>



<% groups.each do |methodname, title| %>
  <% projects = current_user.send(methodname) %>
  <% if projects.any? %>
      <h1><%= title %></h1>
      <%= render current_user.send(methodname) %>
  <% end %>
<% end %>


<% current_user.founded_projects.each do |fp| %>
 
  <%end%>


  
<% current_user.joined_projects.each do |jp| %>

  <%end%>


