<%
groups = {
  :founded_projects => "Founded projects",
  :my_pending_requests => "Pending projects",
  :my_approved_requests => "Joined projects"
}
%>



<% groups.each do |methodname, title| %>
  <% projects = current_user.send(methodname) %>
  <% if projects.any? %>
      <h1><%= title %></h1>
      <%= render current_user.send(methodname) %>
  <% end %>
<% end %>



<% projects = current_user.joined_projects %>
<div class="well">
<% current_user.founded_projects.each do |fp| %>
  <%= fp.title %>
  <%end%>
  </div>

  <div class="well">
<% current_user.joined_projects.each do |jp| %>
  <%= jp.title %>
  <%end%>
  </div>

