<video height="600px" id="hero" autoplay loop preload="auto">
     <source src="/videos/myvideo1.mp4" media="all and (max-width:480px)">
     There would be a video here if you had a better browser.
</video>
<font size="60", style="text-align:left;">Myersbits.</font>
<h3>In programming, more heads are better than one.</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<h2>Learn how to co{de}communicate based on your personality.</h2>



