<h1>Myersbits.</h1>
<h2>Learn new programming languagesJavascript, HTML, English, do you speak the same language? </h2>
<h2>Join a team, learn pair programming, learn new skills, </h2>
<h3>In programming, more heads are better than one.</h3>

<video height="600px" id="hero" autoplay loop preload="auto">
     <source src="/videos/yourvideo.mp4" media="all and (max-width:480px)">
     There would be a video here if you had a better browser.
</video>